.main-section{
    /* background:url("/assets/bg.jpg") no-repeat; */
    background-size:100% 100%;
    margin: 0px;
    width: 100%;
}
.login-page-name p{
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color: rgb(15, 27, 39);
}
.login-page-logo{
    padding:15px;
    height:100px;
    width:100px;
}
.user-login-header,.login-image-main{
    margin-top: 15px;
}
.user-login-header h1{
    margin-top: 5px;
    font-size: 35px;
    color:rgb(24, 9, 9);
}
.user-login-header p{
    color:#c9c5c7;
}
.user-login-header span{
    color:#fff;
    font-weight: 600;
}
.login-image-main{
    padding: 30px 30px 0px 30px;
    background-color:#fff;
    border-radius:5px;
    box-shadow: 0 0 5px 0 #fff;
}
.user-image-section img{
    background-color: rgb(184, 180, 180);
    padding:15px;
    height:100px;
    width:100px;
    border-radius: 50%;
}
.form-group{
    position: relative;
}
.form-group input[type = email], .form-group input[type = password] {
    padding-left: 40px;
}
.user-icon, .password-icon{
    position: absolute;
    left: 0px;
    top: 10px;
    padding: 0px 10px;
}
.checkbox{
    float: left;
    padding-bottom: 15px;
}
.user-login-box{
    padding:20px;
}
.user-login-box a,.user-login-box a:hover{
    width: 100%;
    color:#fff;
    font-weight:600;
    font-size: 20px;;
}
.well{
    margin-bottom: 0px;
}