<div class="container main-section">
  <div class="row">
    <div class="col-md-6 login-page-name">
        
      <p> <img class="login-page-logo" src="/assets/logo.png" alt="LOGO">CCS Tool</p>
    </div>
    <div class="col-md-6 home-page">
      <a routerLink="/login"><h1>Home Page</h1></a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 dialog-box">
      <div class="well text-center">
        <h2>Enter your email below</h2>
        <hr/>
          <form class="form-horizontal" [formGroup]="passForm">
              <div class="form-group">
                  <label for="inputEmail" class="contol-label col-xs-1">Email:</label>
                  <div class="col-xs-11">
                      <input class="form-control" type="email" id="inputEmail" formControlName="fpass" />
                      <div *ngIf="passForm.controls['fpass'].hasError('pattern')" class="alert alert-danger">
                          Please enter valid User Name.
                      </div>
                  </div>
                  <div class="form-group button"> 
                      <div class="col-xs-12">
                        <button type="submit" class="btn btn-success">Submit</button>
                      </div>
                    </div>
              </div>
            </form>
      </div>
        
      </div>
    </div>
</div>
