.main-section{
    /* background:url("/assets/bg.jpg") no-repeat; */
    background-size:100% 100%;
    margin: 0px;
    width: 100%;
}
.login-page-name p{
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color: rgb(15, 27, 39);
}
.login-page-logo{
    padding:15px;
    height:100px;
    width:100px;
}
/* .dialog-box {
    padding: 0px 250px;
}
.dialog-box1{
    padding: 0px 250px;
} */
.button{
    padding-top: 50px;
}